@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
footer {
    background: black;
    margin-left: -0.5em;
    margin-top: 1em;
    position:fixed;
    bottom: 0;
    width: 100%;
    max-width:inherit;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
    color: white;
    font-family: 'Vast Shadow', cursive;
}

footer span {
    font-size: 1.5em;
}