<div class="login-box">
    <h2>Register</h2>
    <form  >
      <fieldset>
      <div class="user-box">
        <input  type="text"
        name="username"
        id="username"
        required=""
        />
        <label>Username</label>
      </div>

      <div class="user-box">
        <input  
          type="email"
          name="email"
          id="email"
          required=""
          />
        <label>Email</label>
      </div>
      <div class="user-box">
        <input  type="text"
        name="tel"
        id="tel"
        required=""
        />
        <label>Phone</label>
      </div>


      <div class="user-box">
        <input  
        type="password"
        name="password"
        id="password">
        <label>Password</label>
      </div>


      <div class="user-box">
        <input 
        type="password"
        name="rePassword"
        id="rePassword">
        <label>Repeat Password</label>
      </div>


      <a routerLink="/login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </fieldset>
    </form>
  </div>