<div class="login-box">
    <h2>Register</h2>
    <form [formGroup]='form' (ngSubmit)="onRegister()">
      <fieldset>

        <!-- username -->
      <div class="user-box">
        <input  
        type="text"
        name="username"
        id="username"
        formControlName="username"
        required=""
        />
        <label>Username</label>
      </div>
      <ng-container *ngIf="form.get('username')?.touched">
        <p class="error" *ngIf="form.get('username')?.errors?.['required']" >Username is required!</p>
        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']" >Username too short!</p>
    </ng-container>

      <!-- email -->
      <div class="user-box">
        <input  
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required=""
          />
        <label>Email</label>
      </div>

      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
    </ng-container>

      <!-- Phone -->
      <div class="user-box">
        <input  type="text"
        name="phone"
        id="phone"
        formControlName="phone"
        required=""
        />
        <label>Phone</label>
      </div>

        <ng-container formGroupName="passGroup">

          <!-- Password -->
        <div class="user-box">
          <input  
          type="password"
          name="password"
          formControlName="password"
          id="password">
          <label>Password</label>
        </div>

        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']" >Password is required!</p>
          <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"  >Password must be at least 5 chars long!</p>
      </ng-container>
  
        <!-- rePassword -->
        <div class="user-box">
          <input 
          type="password"
          name="rePassword"
          formControlName="rePassword"
          id="rePassword">
          <label>Repeat Password</label>
        </div>

        <ng-container  *ngIf="form.get('passGroup')?.get('rePassword')?.touched">

          <p class="error" 
          *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['matchPassValidator'] 
          || form.get('passGroup')?.get('rePassword')?.errors?.['required']"
          >Repeat Password does not match password!</p>
      </ng-container>

        </ng-container>


      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </fieldset>
    </form>
  </div>