<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo" routerLink="/" ><span class="logo">Wrong Generation</span></p>
        </div>
        <div class="mini-navbar">

            <ul>
                <!-- <ng-container *ngIf="!firebaseAuth.user"> -->
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>
                <!-- </ng-container>
                <li *ngIf="firebaseAuth.user">
                    <a >Logout</a>
                </li> -->
            </ul>

        </div>
    </div>
</header>
