@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

header {
  z-index: 1;
  position: fixed;
  width: 101%;
  margin-top: -1em;
  margin-left: -1em;
  background: black;
}
.sales {
  background-color: orange;
}
.sales h3 {
  color: white;
  font-family: cursive;
  text-align: center;
  padding: 0.5em;
}
.logo {
  font-family: "Vast Shadow", cursive;
  font-size: 1.5em;
  letter-spacing: 0.7em;
  color: white;
  padding-bottom: 1em;
}

.logo-wrap {
  letter-spacing: 0.5em;
  margin: 0.5em 0;
  text-align: center;
  padding: 0.5em;
}

.shop-options {
  width: 100%;
  font-family: "Vast Shadow", cursive;
  color: black;
  display: inline-block;
  margin-left: -28%;
}
.navbar {
  background-color: white;
}

.section-shop div {
  float: right;
  margin-left: 20%;
}
.shop-activities ul{
    padding-left: 95%;
}

header ul {
  padding: 0;
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
}

header ul span {
  color: white;
  padding: 0.5em;
}
header li {
  list-style: none;
  margin: 0.35em;
  padding: 0 0.95em;
}
