<header>
  <div class="sales">
    <h3>Summer Sale -99%</h3>
  </div>

  <div class="logo-wrap">
    <a class="logo" routerLink="">
      <span class="logo">Wrong Generation</span>
    </a>
  </div>
<nav class="navbar">
  <div class="shop-options">
    <section class="section-shop">

      <div class="shop-activities">
        <ul>
          <li>Basket</li>
          <li>User</li>
          <li>Favorites</li>
        </ul>
      </div>


      <div class="user-settings">
        <ul>
          <li>Collection</li>
          <li>Clothes</li>
          <li>Promos</li>
        </ul>
      </div>


    </section>
  </div>
</nav>
<hr>
</header>
