<div class="login-box">
    <h2>Login</h2>
    <form  #form ='ngForm' (ngSubmit)="onLogin(form)" >
      <div class="user-box">
        <input 
        type="text" 
        name="email" 
        #inputEmail="ngModel"
        ngModel
        required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input 
        type="password"
         name="password" 
         #inputPassword="ngModel"
          ngModel
         required="">
        <label>Password</label>
      </div>
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>