@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html ,body{
    background-color: whitesmoke;
}
div{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    position: relative;
}

h1{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    text-decoration: underline;
}
